<section>
    <div class='user_card'>
        <img src=<%= user.photo %> class='user_image' >
        <div class="user_info">
            <h2><%= user.name %></h2>
            <p>Number of posts:<%= user.post_counter || 0 %></p>
        </div>
    </div>
</section>