<h1 class='users_heading'>List of all Users<h1>
<div class='all_users'>
    <% @users.each do |user| %>
        <%= link_to user_path(user.id) do %>
            <%= render partial: 'user_profile', locals: {user:user} %>
        <% end %>
    <% end %>
</div>

