body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.users_heading {
  text-align: center;
  text-decoration: underline;
}

.user_card {
  display: flex;
  margin: 20px;
}

.user_image {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin-left: 20%;
}

.user_info {
  flex: 1;
  margin-left: 5%;
  margin-right: 25%;
  border: 4px solid black;
}

.user_info h2 {
  font-size: 2rem;
  color: black;
  padding: 10px;
}

.user_info p {
  text-align: end;
  font-size: 16px;
  margin-right: 1rem;
}

.bio_card {
  border: 2px solid black;
  width: 60%;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 5px 10px;
  margin: 20px auto;
  border: 2px solid black;
  color: black;
}

.post_card {
  border: 2px solid black;
  width: 60%;
  margin: 1px auto;
  padding: 5px;
}

.interactions {
  text-align: end;
  font-size: 16px;
  margin-right: 1rem;
}

.details_card {
  border: 2px solid black;
}

.comments {
  text-align: end;
}

.post_comments {
  margin-top: 0;
  margin-bottom: 1rem;
}
